.euiBody--headerIsFixed .euiFlyout,
.euiBody--headerIsFixed .euiCollapsibleNav {
  top: 48px;
  height: calc(100% - 48px);
}

.euiBody--headerIsFixed {
  padding-top: 48px;
}

.euiBody--headerIsFixed .euiOverlayMask--belowHeader {
  top: 48px;
}

/* disable focus outline on table (Safari) */
.euiTable:focus {
  outline: none;
}

.muiSectionHeader__titleIcon {
  margin-right: 8px;
}

.euiBasicTable--empty .euiTableCellContent__text {
  width: 100%;
}

/* Move the switch lower when in form */
.euiFormRow__fieldWrapper > .euiSwitch {
  top: 3px;
}

.euiDataGrid__controlScroll {
  height: 100%;
  max-height: 400px;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 8px;
  scrollbar-color: hsla(219, 9%, 45%, 0.5) transparent;
  scrollbar-width: thin;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
